<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>JNotes</title>

	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<header>
		<h1>JNOTES</h1>
		<div id="id_button">
			<form action="/loginpage" method="POST">
				<input type="submit" value="{{id0}}">
			</form>
			</div>
	</header>
	

	<section class='main0'>
		<aside id="list0">
			<ul class="listnaslovi">
				{{#each listanaslovov}}
				<li class="naslovlista">
				{{this}}
				<img class="delico" src="images/deleteicon.png" alt="X">
				</li>
				{{/each}}
			</ul>
		</aside>
		<article id="note0">

		</article>
	</section>






<script type="text/javascript" src="jscript/loginbutton.js"></script>
</body>

</html>