<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>JLogin</title>

	<link rel="stylesheet" href="css/style.css">
	<script src="/dist/popupS.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/popupS.min.css">

</head>

<body>

	<script>
		var potrdi = window.confirm('Ustvarjate novega uporabnika, želite nadaljevati?')

		
		
	</script>

	{{{popupmessage}}}

	<header>
		<h1>JNOTES</h1>

	</header>

	<section class='main0'>


		<article id="loginwindow">

		<form class="center" action="/posodobi/loginuser" method="POST">
			<p class="formname">User_ID</p><br>
			<input class="forminputname" type="text" name="ime" value="{{ime}}"><br>
			<p class="formname">Password</p><br>
			<input class="forminputname" type="password" name="geslo" value="{{geslo}}"><br>
			<input id="loginbutton" class="buttonsubmit" type="submit" value="LogIn">

		</form>



		</article>

		<form id="leave" action="/" method="get">
			<input class="buttonsubmit" id="leavebutton" type="submit" value="Go back.">
		</form>

	</section>


<script type="text/javascript" src="jscript/submitbutton.js"></script>
</body>

</html>