@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');
html, body {
	border: 0;
	padding: 0;
	margin: 0;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
}

body {
	background-color: #b0bec5;
	font-family: 'Allerta Stencil', sans-serif;
}

header {
	height: 14%;
	border-width: 0;
	padding: 0;
	margin: 0;
	background-color: #b0bec5;
	border-bottom: 2vh solid #808e95;
}

.accico {
	width: 5vh;
	padding: 0;
}

h1 {
	border: 0;
	padding: 1vh;
	margin: 0;
	font-size: 10vh;
	position: relative;
	float: left;
}

#id_button {
	padding: 1vh;
	margin-top: 1vh;
	margin-right: 1vh;
	position: relative;
	float: right;
	height: 5vh;
	background-color: #b0bec5;
	border-radius: 5px;
	border: 0.2vh solid black;
	font-size: 4vh;
	width: 10vw;
	height: 5vh;
	padding: 0;
}

.main0 {
	height: 83.95%;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

#list0 {
	position: relative;
	float: left;
	border-right: 2vh solid #808e95;
	width: 20%;
	height: 100%;
}

.listnaslovi {
	border: 0;
	padding: 0;
	margin: 0;
	list-style-type: none;
	width: 100%;
	overflow: auto;
}

.naslovlista {
	border: 0;
	padding: 2vh 1vh 0 1vh;
	margin: 0;
	border-bottom: 0.2vh solid #808e95;
}

#note0 {
	position: relative;
	float: left;
	width: 78.8%;
	height: 100%;
}

.delico {
	width: 2.3vh;
	position: relative;
	float: right;
}

header form {
	background-color: rgba(0, 0, 255, 0);
	width: 10vw;
	height: 5vh;
	margin: 0;
	padding: 0;
	font-size: 4vh;
	border: 0;
}

header input {
	background-color: rgba(0, 0, 255, 0);
	width: 10vw;
	height: 5vh;
	margin: 0;
	padding: 0;
	font-size: 4vh;
	border: 0;
}

#loginwindow {
	margin: 3.5% auto;
	width: 35%;
	height: 75%;
	border: 2vh solid #808e95;
	border-radius: 5vh;
}

.center {
	position: relative;
	margin: auto;
	text-align: center;
}

.formname {
	font-size: 4vh;
}

.forminputname {
	font-size: 4vh;
	background-color: #e2f1f8;
}

.buttonsubmit {
	height: 6vh;
	width: 20vh;
	font-size: 3vh;
	margin: 5vh;
	border: 0;
	background-color: #808e95;
}

#leave {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 15vh;
}

#leavebutton {
	width: 15vh;
}

#naslovvrstica {
	margin: 5vh auto;
	width: 130vh;
	height: 70vh;
	;
	border: 2vh solid #808e95;
	text-align: center;
	border-radius: 5vh;
}

.vnosforma>input {
	width: 125vh;
}

#naslovvnos {
	height: 3vh;
	background-color: #e2f1f8;
}

#vsebinavnos {
	height: 30vh;
	width: 125vh;
	background-color: #e2f1f8;
}

#shrani {
	margin: 3vh;
	width: 30vh;
	height: 7vh;
}

#shrani {
	height: 6vh;
	width: 15vh;
	font-size: 3vh;
	margin: 5vh;
	border: 0;
	background-color: #808e95;
}

#newnote {
	position: fixed;
	z-index: 10;
	bottom: 3vh;
	right: 3vh;

	padding: 2vh;

	background-color: #808e95;

	border: 0.2vh solid black;
	border-radius: 100%;
}

#newnote:hover {
	background-color: #e2f1f8
}

#newnotebutton {
	background: transparent;
	border: 0;
}