@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');

html, body {
	border: 0;
	padding: 0;
	margin: 0;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
}

body {
	background-color: #b0bec5;
	font-family: 'Allerta Stencil', sans-serif;
	
}

header {
	height: 14%;
	border-width: 0;
	padding: 0;
	margin: 0;
	background-color: #b0bec5;
	
	border-bottom: 2vh solid #808e95;
}

h1 {
	border: 0; 
	padding: 1vh;
	margin: 0;

	font-size: 10vh;
	
	position: relative;
	float: left;
}

#id_button {
	
	padding: 1vh;
	margin-top:1vh;
	margin-right: 1vh;

	position: relative;
	float: right;

	height: 5vh; 
	
	background-color: #b0bec5;
	border-radius: 5px;
	border: 0.2vh solid #b0bec5;
	font-size: 4vh;
	

}

.main0 {
	height: 83.95%;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
  }

  #list0 {
	  position: relative;
	  float: left;
	  border-right: 2vh solid #808e95;
	  width: 20%;
	  height: 100%;
  }

  .listnaslovi {

	border: 0;
	padding: 0;
	margin: 0;

	list-style-type: none;
	width: 100%;

	overflow: auto;

  }

  .naslovlista {
	border: 0;
	padding: 2vh 1vh 0 1vh;
	margin: 0;
	border-bottom: 0.2vh solid #808e95;

  }



  #note0 {
	position: relative;
	float: left;
	width: 78.8%;
	height: 100%;
  }

  .delico {
	  width: 2.3vh;
	  position: relative;
	  float: right;
  }